.place-card:hover{
    background-color: rgb(189, 188, 188);
    border-radius:1rem;
    transition: all 0.8s;
}
.place-detail-card-img{
    height: 350px !important;
}
.place-card-title{
 background-color: rgb(233, 50, 50);
 padding: 2px !important;
 text-align: center;
 width: 100% !important;
 font-weight:500;
}
.place-foods{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}
.food-chip{
    background-color: gray;
    border-radius: 5px;
    padding: 2px 4px;
    margin: 4px;
}
.location{
    color: rgb(233, 50, 50);
}
.wrap-card-items {
    padding: 2px;
    margin: 0.54rem 0rem;
    border-bottom: 1px solid rgb(180, 176, 176)
}